a<!DOCTYPE html>
<html lang="en" class="theme-light">

  {% include head.html %}

  <body>

    <div class="wrapper">

      {% include header.html %}

      <div class="site-banner" id="top"></div>

      {% include nav.html %}

      <main class="content">

        {{ content }}

      </main>

      <div class="back-to-top-wrapper">
        <a href="#top" class="back-to-top-link" title="Jump to top of page">
          <img src="{{ "/assets/icon-arrow-up.png" | relative_url }}">
        </a>
      </div>

      {% include footer.html %}

    </div>

    <div class="theme-switch-wrapper">
      <label id="theme-switch" class="theme-switch">
        <input type="checkbox" onchange="toggleTheme()" id="theme-slider">
        <span class="theme-slider round"></span>
      </label>
    </div>

    <script src="{{ "/assets/theme.js" | relative_url }}"></script>

  </body>

</html>
