[data-md-color-scheme="klaz"] {
  /* Default color shades */
  --md-default-fg-color:             rgba(233, 235, 252, 1);
  --md-default-fg-color--light:      rgba(210, 215, 249, 0.62);
  --md-default-fg-color--lighter:    rgba(210, 215, 249, 0.32);
  --md-default-fg-color--lightest:   rgba(210, 215, 249, 0.12);
  --md-default-bg-color:             rgba(46, 48, 62, 1);
  --md-default-bg-color--light:      rgba(46, 48, 62, 0.54);
  --md-default-bg-color--lighter:    rgba(46, 48, 62, 0.26);
  --md-default-bg-color--lightest:   rgba(46, 48, 62, 0.07);

  /* Primary color shades */
  --md-primary-fg-color:              rgba(233, 32, 99, 1);
  --md-primary-fg-color--light:       rgba(236, 65, 122, 1);
  --md-primary-fg-color--dark:        rgba(195, 24, 93, 1);
  --md-primary-bg-color:              rgba(255, 255, 255, 1);
  --md-primary-bg-color--light:       rgba(255, 255, 255, 0.7);

  /* Accent color shades */
  --md-accent-fg-color:               rgba(176, 235, 0, 1);
  --md-accent-fg-color--transparent:  rgba(176, 235, 0, 0.1);
  --md-accent-bg-color:               rgba(0, 0, 0, 0.87);
  --md-accent-bg-color--light:        rgba(0, 0, 0, 0.54);

  /* Code color shades */
  --md-code-fg-color:                 rgba(213, 215, 226, 1);
  --md-code-bg-color:                 rgba(33, 34, 44, 1);

  /* Code highlighting color shades */
  --md-code-hl-color:                 rgba(66, 135, 255, 0.15);
  --md-code-hl-number-color:          rgba(230, 105, 91, 1);
  --md-code-hl-special-color:         rgba(240, 96, 144, 1);
  --md-code-hl-function-color:        rgba(201, 115, 217, 1);
  --md-code-hl-constant-color:        rgba(147, 131, 226, 1);
  --md-code-hl-keyword-color:         rgba(103, 145, 224, 1);
  --md-code-hl-string-color:          rgba(47, 177, 112, 1);
  --md-code-hl-name-color:            var(--md-code-fg-color);
  --md-code-hl-operator-color:        var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:     var(--md-default-fg-color--light);
  --md-code-hl-comment-color:         var(--md-default-fg-color--light);
  --md-code-hl-generic-color:         var(--md-default-fg-color--light);
  --md-code-hl-variable-color:        var(--md-default-fg-color--light);

  /* Typeset color shades */
  --md-typeset-color:                 var(--md-default-fg-color);
  --md-typeset-a-color:               var(--md-primary-fg-color--light);

  /* Typeset `mark` color shades */
  --md-typeset-mark-color:          rgba(66, 135, 255, 0.3);

  /* Typeset `del` and `ins` color shades */
  --md-typeset-del-color:           rgba(245, 80, 61, 0.15);
  --md-typeset-ins-color:           rgba(11, 213, 112, 0.15);

  /* Typeset `kbd` color shades */
  --md-typeset-kbd-color:           rgba(237, 238, 242, 0.12);
  --md-typeset-kbd-accent-color:    rgba(237, 238, 242, 0.2);
  --md-typeset-kbd-border-color:    rgba(30, 32, 41, 1);

  /* Admonition color shades */
  --md-admonition-fg-color:         var(--md-default-fg-color);
  --md-admonition-bg-color:         rgba(255, 255, 255, 0.025);

  /* Footer color shades */
  --md-footer-fg-color:             rgba(255, 255, 255, 1);
  --md-footer-fg-color--light:      rgba(255, 255, 255, 0.7);
  --md-footer-fg-color--lighter:    rgba(255, 255, 255, 0.3);
  --md-footer-bg-color:             rgba(26, 27, 35, 0.87);
  --md-footer-bg-color--dark:       rgba(22, 23, 29, 1);
}
